:root {
  --line-border-empty: white;
  --line-border-fill: #3498db;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
}
.container {
  text-align: center;
  max-width: 100%;
  width: 350px;
  margin: 0 auto;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
}
.progress-container::before {
  content: "";
  background-color: gray;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.5s ease;
}
.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.5s ease;
}
.circle {
  background-color: var(--line-border-empty);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid grey;
  transition: 0.5s ease;
}
.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: var(--line-border-empty);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 30px;
  margin: 5px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:disabled {
  cursor: not-allowed;
  background-color: grey;
}
